node_modules
dist
build
.vscode
consul_services
REST_API
public
k8s_configs
k8s_configs
configs
webpack.config.js
config-overrides.js
apollo.config.js
serviceWorker.ts
/src/*.spec.js
/src/**/*.spec.js
/src/*.test.js
/src/**/*.test.js
cypress
deployment
generated